@model IEnumerable<NameAPI.Models.NameModel>

@{
    ViewBag.Title = "Index";
}

<h2>Wireframe</h2>

<div class="container">
    @using (Html.BeginForm("Reload", "Name", FormMethod.Post))
    {
        <div class="form-inline">
            <div class="form-group">
                Gender:
                <select name="gender">
                    <option value="both">Both</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
            <div class="form-group">
                Type:
                <select name="type">
                    <option value="both">Both</option>
                    <option value="firstname">First Name</option>
                    <option value="lastname">Last Name</option>
                </select>
            </div>
            <div class="form-group">
                Number: <input name="limit" type="text" min="1" required />
            </div>

            <input type="submit" value="Reload" />

        </div>
    }
    <div id="FirstList">
        @foreach (var item in Model)
            {
            <p>@item.FirstName &nbsp;@item.LastName, &nbsp;@item.Gender</p>
        }
    </div>
    <div id="showList">
    </div>
    @using (Ajax.BeginForm("AjaxReload", "Name", new AjaxOptions
    {
        InsertionMode = InsertionMode.InsertAfter,
        UpdateTargetId = "showList"
    }))
    {
        <input type="submit" value="Load More" />
    }
</div>
